<% layout('layout') -%>
<hr>
<h1><%= title %></h1>
    <p>Hi!  <% if(logged ==false){%>
    		Guest
			<% }else{%>
			<%= username%>
			<% } %>
    , Welcome to <%= title%></p>
<% if(msg) { %>
<%=msg%>
<% } %>
<hr>
<form action="/blockinfo/query" method="POST" accept-charset="utf-8">
	<div>
	Query Block by : <select name="query_type">
		<option value="Hash">Hash</option>
		<option value="Confirmations">Confirmations</option>
		<option value="Height">Height</option>
		<option value="Difficulty">Difficulty</option>
		<option value="Previous Block Hash">Previous_Block_Hash</option>
	</select>
	with Value : <input type="text" name="query_value" />
	</div>
	<input type="submit" value="Confirm Query" />
</form><br>
<%if(msg){%><%=msg%><br><%}%>
<hr>
<h3>Blockinfos</h3></br>
<% blockinfos = blockinfos.sort(function(a,b){return b.height - a.height;});%>
<% blockinfos.forEach(function(blockinfo){ %>
	<table border="2px solid black" style="width:65%" border-spacing="3px">
	<tr><td>Hash </td><td align="center"><%= blockinfo.hash %></td></tr>
	<tr><td>Confirmations</td><td align="center"><%= blockinfo.confirmations %></td></tr>
	<tr><td>Height</td><td align="center"><%= blockinfo.height %></td></tr>
	<tr><td>Difficulty</td><td align="center"><%= blockinfo.difficulty%></td></tr>
	<tr><td>Previous Block Hash</td><td align="center"><%= blockinfo.previous_block_hash%></td></tr>
	<tr><td>List of transactions</td><td align="center"><%blockinfo.tx.forEach(function(tx){%>
			<a href='/tx/query?hash=<%= tx%>'><%= tx%></a></br>
			<%})%></td></tr>
	</table>
	</br>
<% });%>
<hr>