<% layout('layout') -%>
<hr>
<h1><%= title %></h1>
    <p>Hi! You are in <%= page_title%> page</p>
<hr>

<div class="left-half">
	<div>
		<h3>Token List</h3>
		<%token_list.forEach(function(token){%>
			<table border="1px solid grey" style="width:90%">
				<tr><td>Issuer</td><td><%=token.issuer%></td></tr>
				<tr><td>Address</td><td><%=token.address%></td></tr>
				<tr><td>Token</td><td><%=token.representation%></td></tr>
				<tr><td>Description</td><td><%=token.description%></td></tr>
				<tr><td>Color</td><td><%=token.color%></td></tr>
			</table><br>
		<%});%>
	</div>
</div>
<div class="right-half">
	<div>
		<form action="/tokenize" method="POST" accept-charset="utf-8">
			<h3>Tokenize Something</h3></br>
			<span style="width:150px; display: inline-block;">Your Name</span>: <input type="text" name="name" required="true"></br>
			<span style="width:150px; display: inline-block;">Address</span>: <input type="text" name="address" required="true"></br>
			<span style="width:150px; display: inline-block;">Token Representation</span>: <input type="text" name="representation" required="true"><br>
			<span style="width:150px; display: inline-block;">Description</span>: <input type="text" name="description" required="true"><br>
			<span style="width:150px; display: inline-block;">Color</span>: <input type="text" name="color" required="true"><br>
			<input type="submit" value="Tokenize" />
		</form>
		<%if(replyMsg){%> <%=replyMsg%> <%}%>
	</div>
</div>